@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: white;
}
*{
    margin: 0;
    padding: 0;
}
nav{
   font-family: 'Ubuntu',sans-serif;
}
nav ul{
    display: flex;
   align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color:white;
}
nav ul li{
    padding: 0 12px;
}
h1{
    font-family: 'Ubuntu',sans-serif;
   
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.brand img{
    width: 56px;
    padding: 0 8px;
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    width: 100%;
}
.extras{
 cursor: pointer;
}
ul li:hover {
    color: rgb(7, 240, 131);
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
.container{
    min-height: 75vh;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 100%;
    border-radius: 12px;
    padding: 50px;
    background-image: url('zayn.jpg');
    background-size: cover;
}
#progressBar{
    width: 80vw;
    cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 100%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    border-radius: 34px;
    align-items: center;
    font-weight: bolder;
}
.songItem img{
 width: 43px;
 margin: 0 23px;
 border-radius: 32px;
}
.songItem .songlistplay {
   justify-content: space-between;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songitemcontainer{
    margin-top: 74px;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Ubuntu',sans-serif;
    font-weight: normal;
}
.songInfo img{
    opacity: 0;
    size: 10px;
    transition: opacity 1s ease-in ;
}